* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrap {
  margin: 0 auto;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
}
